 # Print

In [40]:
print("this is a text")
print(50)
print(54.4)
print(23, 33.33, True, "Hello")  # print multiple vars

# default print function prints at a new line
# to change that by the following
print("Hello", end="")
print("world")
# ------------ another example -------------#
print("Hello", end=" ")
print("world")
# single vs double quotes 
print('hello')
print("hello")

this is a text
50
54.4
23 33.33 True Hello
Helloworld
Hello world
hello
hello

# Comment

In [6]:
# ---------------comments--------------------#
# comments in python using "#" for single line

"""
- this is called docstring
- it used for the auto documentations
"""

'\n- this is called docstring\n- it used for the auto documentations\n'

# Indentation

In [42]:
#----- Indentation matters in python -----# 
x = 10
    print("this is an error") # no need for the tab at the begging

IndentationError: unexpected indent (2675411339.py, line 3)

# Data types

In [8]:
counter = 100  # integer
miles = 1000.0  # float
name = "Islam"  # string
z = None  # null value

- must start with a letter or the underscore character
- cannot start with a number
- can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable case-sensitive (age, Age and AGE are three different variables)
- A variable name cannot be any of the Python keywords.

> https://docs.python.org/3/reference/lexical_analysis.html#keywords

In [14]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [21]:
2myvar = "John"
my-var = "Islam"
1var = "ahmed"

SyntaxError: invalid decimal literal (3501704744.py, line 1)

In [22]:
# camel case
myVarName = 10
# pascal case 
MyVarName = 10
# snake case 
my_var_name = 10

In [23]:
# assingment 
# variables could be changed with a new value (even with a different data type)
x = 1
x = "string value"
# multiple assignments
a, b, c = 1, 2, 3
A = B = C = 100  # variables're case sensitive so a != A

## statements

- Python statements means a logical line of code that can be either expression or assignment statement.
- Expression means a sequence of numbers, strings, operators and objects that logically can be valid for executing.
- Simple assignment statement means a statement with its R.H.S just a value-based expression or a variable or an operation.
- A statement can be written in multi-lines by using \ character.
- Multiple statements can be written in same line with ; separator.

# Numbers

In [31]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [36]:
x = 35e3
y = 12E4
z = -87.7e100

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

35000.0
120000.0
-8.77e+101
<class 'float'>
<class 'float'>
<class 'float'>

In [38]:
import math

print(100)  # int
print(100.233)  # float
print(complex(12, -2))  # complex number


# numbers functions
print(int(199.332))  # convert to int
print(float(23))  # convert to float
print(abs(-344433))  # return the absolute value
print(math.sqrt(100))  # square root
print(math.log(100))  # natural algorithm

print(pow(2, 4))
print(2**4)

100
100.233
(12-2j)
199
23.0
344433
10.0
4.605170185988092
16
16

---

# Strings

- A string is a collection of characters closed within single or double quotation marks (immutable).
- You can update an existing string by (re)assigning a variable to another string.
- python does not support a character type; these are treated as strings of length one.
- Python accepts single ('), double (") and triple (''' or """) quotes to denote string literals.
- String indexes starting at 0 in the beginning of the string and working their way from -1 at the end

In [44]:
str1 = "I am a string"
str2 = "I am a string also"
str3 = """
I am a multi-line string 
"""
# ------------ Indexing ---------- #
first = "Islam"
print(first[0])
print(first[1])
print(first[-1])

I
s
m

## format strings

In [54]:
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [53]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [43]:
# strings are immutable
str = "this is a string"
str[2] = "a"  # this is an error

TypeError: 'str' object does not support item assignment

## Escape Characters

In [59]:
txt = "hello dr 'ahemd' "
print(txt)

hello dr 'ahemd'

In [60]:
txt = "hello dr "ahemd" "
print(txt)

SyntaxError: invalid syntax (3951522543.py, line 1)

In [61]:
txt = "hello dr \"ahemd\" "
print(txt)

hello dr "ahemd"

**More Escape Characters**
> https://www.w3schools.com/python/python_strings_escape.asp

## Slicing

> str[start_end : end_index] NOTES : The character at the end index in the string, will not be included in the substring obtained through this method.

In [45]:
str = "Islam Gomaa"
print(str[0:4])
print(str[3 : len(str)])  # slicing to the end
print(str[3:])  # another way to slice to the end of the string
# --------- slicing with a step ----------#
print(str[2::2])  # step = 2
print(str[5:2:-1])  # reverse steps

Isla
am Gomaa
am Gomaa
lmGma
 ma

## string operators

In [47]:

str1 = "Islam"
str2 = "Gomaa"
print(str1 + str2)  # string concatenation
print(str2 * 5)  # Repetition
print("I" in str1)  # Membership
print(f"index of 'm' : {str1.find("m")}")  # return index
print(str1.upper()) # method (we'll discuss it later)
print(str2.lower())
# strip
miss_str = "            My name is alien                                               "
print(str1.strip(miss_str))

IslamGomaa
GomaaGomaaGomaaGomaaGomaa
True
index of 'm' : 4
ISLAM
gomaa
I

## User Input

In [48]:
# 
input_1 = input("Please Enter a number: ")
print(type(input_1))  # input func return str
# to convert the input to the needed data type
input_2 = int(input("Enter a number again"))
print(type(input_2))

Please Enter a number:  10

<class 'str'>

Enter a number again 10

<class 'int'>

## print strings

In [97]:
# 
name = "Islam Gomaa"
age = 21
print("My name is : ", name)
print("My name is {}".format(name))
print(
    "My name is {0} and my age is ".format(name, age)
)  # you can specify the place holder
print(f"My name is {name} and my age is{age}")

# Escape characters
print("this is single quote ' inside two single quotes")
print("this is a backslash \\")
print("this is a new line \n, and this one is a new \t tab")
print("this is a backspace \b")

My name is :  Islam Gomaa
My name is Islam Gomaa
My name is Islam Gomaa and my age is
My name is Islam Gomaa and my age is21
this is single quote ' inside two single quotes
this is a backslash \
this is a new line
, and this one is a new 	 tab
this is a backspace

# Operators

In [50]:
# Arithmetic
print(2 + 2)
print(4 - 2)
print(4 * 5)
print(20 / 5)
print(20 // 7)  # floor division
print(20 % 3)  # modulus
print(2**4)

4
2
20
4.0
2
2
16

In [51]:
# Comparison
print(3 > 2)
print(4 < 3)
print(2 == 2)
print(3 != 2)
print(3 >= 2)
print(3 <= 4)
# Logical
print(True and False)
print(False or True)
print(not True)

True
False
True
True
True
True
False
True
False

In [52]:
# Bitwise 
print(0b1 & 0b1) # and 
print(0b1 | 0b0) # or 
print(~1) # inverter
print(0b1 ^ 0b0) # xor 
print(0b10 >> 1) # shift-right
print(0b01 << 2) # shift-left

1
1
-2
1
1
4

---
# Your Turn ðŸ§

Create a program that:

1. Asks the user for:
   - name
   - age
   - height in cm
2. Convert age and height to numbers.
3. Calculate:
   - age after 5 years
   - height in meters
4. Print a formatted summary.

### Example
Input: 
```
Enter name: Ali
Enter age: 20
Enter height (cm): 175
```
output: 
```
Hello Ali
You are 20 years old
In 5 years you will be 25
Your height in meters is 1.75
```


---

# Control FlowÂ¶

## If Statement

- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b

In [63]:
a = 10
b = 20
if a < b: 
    print("a is greater than b")

if a > b: 
    print("b is greater than a")

a is greater than b

In [67]:
# Using Variables in Conditions

happend = True

if happend: 
    print("OK")

OK

- Zero (0), empty strings (""), None, and empty collections are treated as False.
- This includes positive numbers (5), negative numbers (-3), and any non-empty string (even "False" is treated as True because it's a non-empty string)

##  Elif Statement

In [68]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [69]:
score = 75

if score >= 90:
  print("Grade: A")
elif score >= 80:
  print("Grade: B")
elif score >= 70:
  print("Grade: C")
elif score >= 60:
  print("Grade: D")

Grade: C

### Day of the week checker:

In [72]:
day = int(input("Inter the day number: "))

if day == 1:
  print("Monday")
elif day == 2:
  print("Tuesday")
elif day == 3:
  print("Wednesday")
elif day == 4:
  print("Thursday")
elif day == 5:
  print("Friday")
elif day == 6:
  print("Saturday")
elif day == 7:
  print("Sunday")

Inter the day number:  4

Thursday

## Else Statement

- The else keyword catches anything which isn't caught by the preceding conditions.
- The else statement is executed when the if condition (and any elif conditions) evaluate to False.

In [73]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [75]:
# else without elif
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

### Temperature classifier:

In [76]:
temperature = 22

if temperature > 30:
  print("It's hot outside!")
elif temperature > 20:
  print("It's warm outside")
elif temperature > 10:
  print("It's cool outside")
else:
  print("It's cold outside!")

It's warm outside

### Combining Multiple Operators

In [77]:
age = 25
is_student = False
has_discount_code = True

if (age < 18 or age > 65) and not is_student or has_discount_code:
  print("Discount applies!")

Discount applies!

##  Nested If

In [78]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [79]:
age = 25
has_license = True

if age >= 18:
  if has_license:
    print("You can drive")
  else:
    print("You need a license")
else:
  print("You are too young to drive")

You can drive

### pass

In [86]:
a = 33
b = 200

if b > a:
  pass

In [87]:
age = 16

if age < 18:
  pass # TODO: Add underage logic later
else:
  print("Access granted")

## match

In [88]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

# Loops

> Python has two primitive loop commands: `while` loops , `for` loops

## while loops

In [89]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [91]:
# break Statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [92]:
# continue Statement
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## For Loops

In [93]:
for x in "banana":
  print(x)

b
a
n
a
n
a

##  range() Function

In [94]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [95]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [96]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29